.cart-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cart-amount-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 120px;
}

.cart-taka-symbol {
  color: #637381;
  font-size: 17px;
  font-weight: 700;
  margin-right: 2px;
}

.cart-amount {
  font-size: 16px;
  font-weight: 700;
}

.cart-icon-container {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe7f5;
  border-radius: 50% !important;
  cursor: pointer;
  position: relative;
  aspect-ratio: 1 / 1;
}

.cart-counter-container {
  min-width: 19px;
  min-height: 19px;
  max-width: 26px;
  max-height: 26px;

  aspect-ratio: 1 / 1 !important;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 50% !important;
  position: absolute;
  /* top: -7px;
    right: 0px; */
  bottom: 70%;
  left: 60%;
}

@media (max-width: 768px) {
  .cart-icon-container {
    width: 32px;
    height: 32px;
  }

  .cart-icon {
    width: 19px;
    height: 19px;
  }

  .cart-counter-container {
    min-width: 14px;
    min-height: 14px;
    font-size: 10px;
    line-height: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .cart-icon-container {
    width: 36px;
    height: 36px;
  }

  .cart-counter-container {
    min-width: 17px;
    min-height: 17px;
    font-size: 12px;
    line-height: 12px;
  }

  .cart-taka-symbol {
    color: #637381;
    font-size: 14px;
    font-weight: 700;
    margin-right: 2px;
  }

  .cart-amount {
    font-size: 14px;
    font-weight: 700;
  }

  .cart-section {
    gap: 5px;
  }
}
